{% extends 'home/base.html' %}
{% load static %}

{% block header %}
<div class="bg-dark text-white text-center py-5">
    <h1>Eliminar Plan</h1>
</div>
{% endblock header %}

{% block main %}
<div class="container bg-dark text-light py-4">
    <h3>¿Estás seguro de que deseas eliminar el plan "{{ plan.entrenamiento }}"?</h3>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
        <a href="{% url 'planes:index' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock main %}
