{% extends 'home/base.html' %}
{% load static %}

{% block header %}
<div class="bg-dark text-white text-center py-5">
    <h1>Actualizar Plan</h1>
</div>
{% endblock header %}

{% block main %}
<div class="container bg-dark text-light py-4">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{% url 'planes:plan_list' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock main %}
