{% extends 'home/base.html' %}

{% block header %}
<div class="bg-dark text-white text-center py-5">
  <h1 class="text-center mb-4">Borrar Atleta</h1>
</div>
{% endblock header %}

{% block main %}
  <div class="container text-center mb-4">
    <p class="fs-3">¿Estás seguro que deseas borrar al atleta "{{ pais.nombre }} {{ pais.apellido }}"?</p>
    <form method="post" class="mb-4">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <button class="btn btn-secondary">
      <a class="text-white text-decoration-none" href="{% url 'atletas:pais_list' %}">Volver</a>
    </button>
  </div>
{% endblock main %}

    