{% extends 'home/base.html' %}

{% block header %}
    Lista de atletas
{% endblock header %}
{% block main %}
 <form action="{% url 'atletas:pais_list' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
 </form>
    <ul>
        {% for pais in paises %}
        <li>
            {{ pais.nombre }} - {{pais.apellido}} {{ pais.edad }} años - {{ pais.peso }} kg - {{ pais.altura }} cm - {{ pais.sexo }} - {{ pais.deporte }} - {{ pais.descripcion }}
        </li>
        <button><a href="{% url 'planes:index' %}">Ver Plan</a></button>
    {% empty %}
        <li>No hay registros.</li>
    {% endfor %}
    </ul>
    <button><a href="{% url 'atletas:index' %}">Volver</a></button>

{% endblock main %}
   