{% extends 'home/base.html' %}
{% load static %}  

{% block header %}
<div class="bg-dark text-white text-center py-5">
    <h1>Lista de Atletas</h1>
</div>
{% endblock header %}

{% block main %}
<div class="container bg-dark text-light py-4">  
    <form action="{% url 'atletas:pais_list' %}" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" placeholder="Buscar..." class="form-control">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <button class="btn btn-success">
                <a href="{% url 'atletas:pais_create' %}" class="text-white text-decoration-none">Crear Registro</a>
            </button>
        </div>
    </form>

    <table class="table table-striped table-dark">  
        <thead class="thead-dark">
            <tr>
                <th style="width: 30%;">Nombre</th>
                <th style="width: 10%;">Acciones</th>
                <th style="width: 10%;">Acciones</th>
                <th style="width: 10%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
                <tr class="text-light">
                    <td>{{ pais.nombre }} {{ pais.apellido }}</td>
                    <td>
                        <a class="btn btn-success btn-sm" href="{% url 'atletas:atleta_detail' pais.id %}">Más datos</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="{% url 'atletas:atleta_update' pais.id %}">Cambiar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'atletas:atleta_delete' pais.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay registros.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-secondary">
        <a class="text-white text-decoration-none" href="{% url 'atletas:index' %}">Volver</a>
    </button>
</div>
{% endblock main %}
